<dialog-Template>
	<div class="addCategory-wrap">
		<div class="mb10">
			<div class="dialog-text "><span class="must-before">用户组名称：</span></div>
			<input class="form-control dialog-input" ng-model="addUserGroupData.groupName" ng-blur="seachTableName(userGroupInfo.groupName)"/>
		</div>
		<div class="mb10">
			<div class="dialog-text "><span class="must-before">描述：</span></div>
			<textarea class="form-control dialog-textarea" ng-model="addUserGroupData.groupDesc"></textarea>
		</div>
	</div>
</dialog-Template>
