<div ng-controller="syncTimeStepCtrl">
<div class="mb15 mt15 ml15 mr15">
    <textarea style="width: 100%;height: 300px;"  ng-model="dataBaseData"></textarea>
</div>
<div class="pb15 ml15">
    <button ng-click="submitSyncData()" class="submit-step-submit">提交</button>
    <button ng-click="executeSyncData()" class="submit-step">执行</button>
   <!--  <input type="submit" ng-click="submitSyncData()" class="submit-step" value="提交" />
    <input type="submit" ng-click="executeSyncData()" class="submit-step" value="执行" /> -->
</div>
</div>