.input-noside {
    border: none;
    outline: none;
    background: #fff;
    border-radius: 2px;
}
.back-fff {
    background: #fff;
}
.pad16 {
    padding: 1px 4px;
}
.pro-choosed {
    padding: 2px;
    width: 390px;
    min-height: 40px;
}
.mr4 {
    margin-right: 4px;
}
.tablist-search-select{
    .ui-select-toggle{
        height: 35px;
    }
}
.validityDate input{
    width: 50px;
    text-align: center;
}
.pro-table {
    margin-top: 0px;
    margin-left: 133px;
    width: 70%;
    border: 1px solid #ddd;
    background: #fff;
}

.pro-form {
    width: 170px !important;
    height: 30px !important;
    .form-control {
        width: 170px !important;
        height: 30px !important;
    }
}
.mb10-line{
    overflow: hidden;
    .mb10-line-text{
        height:40px;
        line-height: 40px;
    }
    & >div{
        float: left;
    }
}
.tablist-search{
    &:after{
        clear: both;
    }
}
.tablist-search-formControl{
    float: left;
}
.pro-form-input{
    height: 30px;
    width: 170px;
}
.pro-title-width{
    width: 120px;
    text-align: right;
}
.caret-btn{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: absolute;
    bottom: -6px;
    right: 2px;
    text-align: center;
    background-color: transparent;
    .caret-btn-bottom{
        display: inline-block;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-top-color: #00b3ee;
    }
    .caret-btn-top{
        display: inline-block;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-bottom-color: #00b3ee;
        margin-bottom: 5px;
    }
}
.reson-text{
    position: relative;
    width:150px;
    word-break:break-all
}
.agreement-text{
    height: 370px;
    overflow-y: scroll;
}
.agreement-checkbox input{
    margin-top: -2px !important;
}
