
<div ng-controller="userManageCtrl" class="query-wrap">
	<div class="tablist-details">
		<div class="position-relative query-table">

			<div class="tablist-bar">
				<div class="tablist-search" ng-show="UserManageSearchCode!='0'">
					<div class="display-iblock hand-border input-padding input-h input-w input-search">
						<input class="hand-input" placeholder="请输入账号" fun-Keyboard="{method:'dataSearch'}" ng-model="searchKey" ng-keyup="myKeyup($event)" />
						<fun-Icon id="msnui-find" ng-click="dataSearch()" class="search-icon"></fun-Icon>
					</div>
				</div>
				
				<div class="right_btn fr color-blue">
					<div class="cursor-pointer fr btn-border btn-add" ng-click="addUser(id)">
						<fun-Icon id="xinzeng1"></fun-Icon>
						<span>新建</span>
					</div>
					<div class="cursor-pointer fr btn-border btn-delete color-blue" ng-click="batchDelete()">
						<fun-Icon id="shanchu"></fun-Icon>
						<span>批量删除</span>
					</div>
				</div>
			</div>
			<table ng-table="tableParams" class="table table-striped tablist">
				<thead>
					<tr>
						<th>
							<span class="checkBox file-checkbox">
								<input type="checkbox" class="input_check" id="checkAlluserManage" ng-model="isSelectAll" ng-click="selectAll(isSelectAll)">
								<label for="checkAlluserManage"></label>
							</span>
						</th>
						<th>账号</th>
						<th>e-mail</th>
						<th>用户角色</th>
						<th>用户类型</th>
						<th>账号状态</th>
						<th>更新时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in queryData">
						<td style="width: 80px;">
							<span class="checkBox file-checkbox"><input type="checkbox" class="input_check" id="{{'check'+item.id}}" ng-model="selected[item.id]" ><label for="{{'check'+item.id}}"></label></span>
						</td>
						<td ng-bind="item.userName"></td>
						<td ng-bind="item.email"></td>
						<td ng-bind="item.roleName"></td>
						<td ng-bind="item.userType"></td>
						<td>
							<span ng-if="item.status==0">可用</span>
							<span ng-if="item.status==1">禁用</span>
							<span ng-if="item.status==2">删除</span>
						</td>

						<td ng-bind="item.updateTime"></td>
						<td>

							<fun-icon-title title="编辑" id="bianji" ng-click="editUser(item)"></fun-icon-title>
							<fun-icon-title title="删除" id="del-round" ng-click="deleteUser(item)"></fun-icon-title>
                            <fun-icon-title title="重置" id="chongzhi" ng-click="UpdateUser(item)"></fun-icon-title>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>