<dialog-Template>
  <div class="agreement-text">
    <h2 style="text-align: center">
      项目实施以及合作保密协议（中文版）
    </h2>
    <p>
      一、本协议所指保密信息是指：<br>
      在 “学生数据挖掘系统（Ant_X）” 中，接受方获得的与之相关或因合作产生的任何技术原理、数据细节、会议内容、案例隐私或其他性质的资料，无论以何种形式或载于何种载体，无论在披露时是否以口头、图像或以书面方式表明其具有保密性。保密信息可以以数据、文字及记载上述内容的资料、光盘、软件、图书等有形媒介体现，也可通过口头等视听形式传递。
    </p>
    <p>
      二、双方权利与义务：
    </p>
    <p>
      1.接受方保证对保密信息披露方所提供的保密信息予以妥善保存。 <br>
      2.接受方对保密信息披露方所提供的保密信息按本协议约定予以保密。 <br>
      3.保密信息披露方提供保密信息时，如以书面形式提供，应注明“保密”等相关字样；如以口头或可视形式透露，应在透露前告知接受方为保密信息。 <br>
      4.保密信息仅可在从事本项目的负责人和参与成员范围内知悉。在知悉该保密信息前，接受方应向其提示保密信息的保密性和应承担的义务，并保证上述人员以书面形式同意接受本协议条款的约束，确保上述人员承担保密责任的程度不低于本协议规定的程度。<br>
      5.经保密信息披露方提出要求，接受方应按照保密信息披露方的指示将含有保密信息的所有文件或其他资料归还给保密信息的披露方，或者按照保密信息披露方的指示予以销毁。<br>
      6.上述限制条款不适用于以下情况：<br>
      （1）在签署本协议之时或之前，保密信息已以合法方式属接受方所有；<br>
      （2）保密信息在通知给接受方时，已经公开或能从公开领域获得；<br>
      （3）保密信息是接受方从与其没有保密或不透露义务的第三方获得的；<br>
      （4）在不违反本协议项下约定责任的前提下，保密信息已经公开或能从公开领域获得；<br>
      （5）接受方应法院或其它法律、行政管理部门要求披露的信息（通过口头提问、询问、要求资料或文件、传唤、民事或刑事调查或其他程序）因而透露保密信息，在该种情况发生时，接受方应立即向披露方发出通知，并作出必要说明。<br>
      7.双方均不保证保密信息的精确性与合理性。<br>
      8.保密信息披露方提供的保密信息，如涉及侵犯第三方知识产权的情况，接受方不对此侵权行为负责，且免于由此产生的索赔。<br>
    </p>
    <p>
      三、违约责任：<br>
      任何一方未履行本协议项下的条款均被视为违约。作出违约行为的一方应承担因自己的违约行为而给守约方造成的损失。如果守约方确认，对违反本协议的行为仅采取赔偿的补救措施是不够的，则守约方还有权采取禁令、实际履行或其他合理的救济措施。
    </p>
    <p>
      四、免责条款：<br>
      由于地震、水灾、火灾或政策变化等人力不能预见、不能避免、不能抗拒的原因，导致甲乙双方或一方不能履行或不能完全履行本协议项下的有关义务时，甲乙双方相互不承担违约责任；在不可抗力影响消除后的合理时间内，一方或双方应当继续履行本协议。<br>
      五、本协议有效期十五年。
    </p>
  </div>
  <div class="agreement-checkbox">
    <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-click="makeSureAddApply($event,agreementFlag)" ng-model="agreementFlag"> 我同意该协议
  </div>
</dialog-Template>