<dialog-Template>
    <div class="add-wrap">
        <div class="mb10">
            <div class="dialog-text "><span class="must-before">任务名称：</span></div>
            <input class="form-control dialog-input" ng-model="syncData.name" ng-blur="checkMachineName()" />
        </div>

        <div class="mb10">
            <div class="dialog-text "><span class="must-before">任务备注：</span></div>
            <input class="form-control dialog-input" ng-model="syncData.remark" />
        </div>
    </div>
</dialog-Template>