.addCategory-wrap {
    text-align: center;
    color: rgba(0,0,0,0.6);
}
.addCategory-text {
    display: inline-block;
    text-align: right;
    width: 100px;
}
.addCategory-input {
    width: 300px;
}
