<dialog-Template>
    <div class="add-wrap">
        <div class="mb10">
            <div class="dialog-text "><span>旧密码：</span></div>
            <input class="form-control dialog-input" type="password" ng-model="userData.oldPsd" />
        </div>
        <div class="mb10">
            <div class="dialog-text "><span class="must-before">新密码：</span></div>
            <input class="form-control dialog-input" type="password" ng-model="userData.updatePsd" />
        </div>

        <div class="mb10">
            <div class="dialog-text "><span class="must-before">重复密码：</span></div>
            <input class="form-control dialog-input" type="password" ng-model="userData.reUpdatePsd" />
        </div>
    </div>
</dialog-Template>